td,
th{
    display: table-cell;
    vertical-align: middle;
}
tr{
    display: table-row;
}
table{
    display: table;
}
.header{
    padding: 24px 48px 24px 48px;
}
.header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    margin-right: 279.53px;
    display: flex;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 32px;
letter-spacing: -1.2px;
}
.header-link:hover{
    display: flex;
padding-bottom: 4px;
flex-direction: column;
align-items: flex-start;
border-bottom: 2px solid #FE973C;
display: flex;
flex-direction: column;
justify-content: center;
color: #8D4A00;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.35px;
text-transform: uppercase;
}
.header-link{
    display: flex;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.35px;
text-transform: uppercase;
}
.header-button{
    display: flex;
padding: 12px 32px;
flex-direction: row;
justify-content: center;
border-radius: 9999px;
background: #8D4A00;
align-items: center;
width: 163.4px;
height: 40.0px;
display: flex;
flex-direction: column;
justify-content: center;
color: #FFF0E7;
text-align: center;
font-family: "Space Grotesk";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 1.2px;
text-transform: uppercase;
}
.header-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-right: 279.53px;
}
.hero{
    display: flex;
min-height: 921px;
padding: 169.66px 48px 169.67px 48px;
justify-content: center;
align-items: center;
align-self: stretch;
background: radial-gradient(85.61% 61.6% at 50% 50%, rgba(253, 211, 77, 0.15) 0%, rgba(253, 211, 77, 0.00) 70%);
position: relative;
}
.hero .container{
display: grid;
row-gap: 48px;
column-gap: 48px;
flex: 1 0 0;
grid-template-rows: 581.67px;
grid-template-columns: repeat(12,minmax(0,1fr));
}
.hero-contents{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
grid-row: 1 / span 1;
grid-column: 1 / span 7;
justify-self: stretch;
}
.hero-title{
    align-self: stretch;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 120px;
font-style: normal;
font-weight: 700;
line-height: 117px;
letter-spacing: -6.4px;
background-clip: text;
}
.hero-extra{
    width: 197.3px;
height: 28.0px;
padding: 6px 16px;
display: flex;
flex-direction: column;
justify-content: center;
color: #5C4900;
font-family: "Be Vietnam Pro";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 1.2px;
text-transform: uppercase;
display: flex;
padding: 6px 16px;
align-items: flex-start;
border-radius: 9999px;
background: #FDD34D;
white-space: nowrap;
margin-right: 473.33px;
}
.hero-span{
    background: linear-gradient(90deg, #8D4A00 0%, #FE973C 100%);
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.hero-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-right: 222.97px;
}
.hero-text{
    display: flex;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
font-family: "Be Vietnam Pro";
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 32px;
width: 519.3px;
height: 96.0px;
margin-right: 151.4px;
}
.image-wrap{
    position: relative;
    width: 480.2px;
height: 605.2px;
display: flex;
flex-direction: column;
align-items: flex-start;
grid-row: 1 / span 1;
grid-column: 8 / span 5;
}
.hero-img2{
    width: 465.3px;
height: 581.7px;
display: flex;
transform: rotate(3deg);
flex-direction: column;
justify-content: center;
align-items: flex-start;
position: absolute;
top: 0;
right: 14.9px;
aspect-ratio: 4/5;
border-radius: 48px;
background: rgba(255, 255, 255, 0.00);
box-shadow: 0 40px 80px -20px rgba(141, 74, 0, 0.06);
}
.hero-img3{
    width: 16.0px;
height: 16.0px;
display: flex;
flex-direction: column;
align-items: center;
}
.hero-button{
    display: flex;
padding: 20px 40px;
align-items: center;
gap: 12px;
border-radius: 9999px;
background: #8D4A00;
display: flex;
flex-direction: row;
justify-content: center;
color: #FFF0E7;
text-align: center;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 1.4px;
text-transform: uppercase;
width: 247.0px;
height: 60.0px;
}
.hero-button2{
    display: flex;
padding: 21px 40px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 9999px;
border: 1px solid rgba(172, 173, 173, 0.20);
background: #FFF;
width: 176.7px;
height: 64.0px;
display: flex;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
text-align: center;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 1.4px;
text-transform: uppercase;
}
.hero-img{
    width: 256.0px;
height: 256.0px;
z-index: 2;
display: flex;
transform: rotate(-6deg);
flex-direction: column;
justify-content: center;
align-items: flex-start;
position: absolute;
top: 364.77px;
right: 236.66px;
border-radius: 48px;
background: rgba(255, 255, 255, 0.00);
box-shadow: 0 40px 80px -20px rgba(141, 74, 0, 0.06);
}
.desc{
    display: flex;
padding: 128px 48px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
background: #F6F6F6;
}
.desc .container{
    display: inline-grid;
row-gap: 80px;
column-gap: 80px;
align-self: stretch;
grid-template-rows: 736px;
grid-template-columns: repeat(2,minmax(0,1fr));
}
.desc-contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 39px;
    width: 552.0px;
height: 590.0px;
margin-top: 73px;
margin-right: 80px;
}
.desc-header{
    align-self: stretch;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: -3px;
}
.desc-text{
color: #5A5C5C;
font-family: "Be Vietnam Pro";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 32.5px;
}
.desc-span{
    border-bottom: 9px solid #FDD34D;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32.5px;
}
.desc-list{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 24px;
}
.desc-wrap{
    width: 552.0px;
height: 113.0px;
padding: 9px 0 8px 32px;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
border-left: 4px solid #FE973C;
text-align: left;
}
.desc-quote{
    display: flex;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px;
}
.desc-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.desc-line{
    width: 32.0px;
height: 2.0px;
background: #FDD34D;
margin: 9px 16px 9px 0;
}
.desc-wrap2{
    display: flex;
flex-direction: column;
align-items: flex-start;
grid-row: 1 / span 1;
grid-column: 2 / span 1;
justify-self: stretch;
position: relative;
width: 642px;
padding-left: 90px;
}
.desc-image{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-self: stretch;
aspect-ratio: 3/4;
border-radius: 48px;
background: rgba(255, 255, 255, 0.00);
box-shadow: 0 25px 50px -12px rgba(141, 74, 0, 0.05);
width: 552.0px;
height: 736.0px;
z-index: 2;
}
.gradient1{
    width: 160.0px;
height: 160.0px;
position: absolute;
left: 512px;
bottom: 616px;
border-radius: 9999px;
background: rgba(253, 211, 77, 0.20);
filter: blur(32px);
}
.gradient2{
    width: 240.0px;
height: 240.0px;
position: absolute;
right: 352px;
top: 536px;
border-radius: 9999px;
background: rgba(254, 151, 60, 0.10);
filter: blur(32px);
}
.trends{
    padding: 128px 48px 128px 48px;
}
.trends .container{
    display: flex;
    flex-direction: column;
}
.trends-title{
    display: flex;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: 60px;
letter-spacing: -3px;
margin-bottom: 16px;
}
.trends-text{
    display: flex;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
font-family: "Be Vietnam Pro";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
width: 399.0px;
height: 48.0px;
margin-bottom: 64px;
}
.trends-wrap{
    position: relative;
}
.trends-button{
    display: flex;
    flex-direction: row;
    align-items: center;
color: #8D4A00;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 1.4px;
text-transform: uppercase;
gap: 8px;
background-color: transparent;
position: absolute;
top: 104px;
left: 1196.22px;
}
.trends-svg{
    fill: #8D4A00;
}
.gallery{
    display: grid;
row-gap: 24px;
column-gap: 24px;
align-self: stretch;
grid-template-rows: repeat(2,minmax(0,1fr));
grid-template-columns: repeat(4,minmax(0,1fr));
}
.pants{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: stretch;
grid-row: 1 / span 2;
grid-column: 1 / span 2;
justify-self: stretch;
border-radius: 48px;
background: #F0F1F1;
position: relative;
}
.pants-img{
flex: 1 0 0;
display: flex;
align-self: stretch;
background: url(<path-to-image>) lightgray -110px 0px / 137.931% 100% no-repeat;
border-radius: 48px;
}
.pants:hover .pants-hover{
     opacity: 1;
    z-index: 2;
}
.pants-hover{
    opacity: 0;
    top: 0;
    left: 0;
  position: absolute;
  display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.00) 100%);
width: 100%;
height: 100%;
border-radius: 48px;
}
.sneakers{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: stretch;
grid-row: 1 / span 1;
grid-column: 3 / span 2;
justify-self: stretch;
border-radius: 48px;
background: #F0F1F1;
}
.sneakers-img{
    flex: 1 0 0;
align-self: stretch;
background: url(<path-to-image>) lightgray 0px -96px / 100% 149.485% no-repeat;
border-radius: 48px;
}
.hoodie{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: stretch;
grid-row: 2 / span 1;
grid-column: 3 / span 1;
justify-self: stretch;
border-radius: 48px;
background: #F0F1F1;
}
.hoodie-img{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 1 0 0;
align-self: stretch;
background: url(<path-to-image>) lightgray -55px 0px / 139.568% 100% no-repeat;
border-radius: 48px;
}
.tech{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-self: stretch;
grid-row: 2 / span 1;
grid-column: 4 / span 1;
justify-self: stretch;
background: #F0F1F1;
border-radius: 48px;
}
.tech-img{
    border-radius: 48px;
    width: 100%;
}
.evolution{
    padding: 128px;
    display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
background: #F6F6F6;
}
.evolution-wrap2{
    width: 1024.0px;
height: 124.0px;
margin-bottom: 80px;
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
align-self: stretch;
}
.evolution .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.evolution-title{
    display: flex;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
text-align: center;
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: 60px;
letter-spacing: -3px;
}
.evolution-text{
    display: flex;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
text-align: center;
font-family: "Be Vietnam Pro";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
width: 512.0px;
height: 48.0px;
}
.table-status1{
    display: flex;
padding: 2.5px 16px;
align-items: flex-start;
border-radius: 9999px;
background: #E1E3E3;
width: 89.2px;
height: 25.0px;
padding: 2.5px 16px;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.5px;
text-transform: uppercase;
white-space: nowrap;
}
.table-status2{
    width: 119.2px;
height: 25.0px;
display: flex;
padding: 2.5px 16px;
align-items: flex-start;
border-radius: 9999px;
background: #FE973C;
flex-direction: column;
justify-content: center;
color: #4E2600;
font-family: "Be Vietnam Pro";
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.5px;
text-transform: uppercase;
white-space: nowrap;
}
.table-status3{
    width: 82.2px;
height: 25.0px;
padding: 2.5px 16px;
display: flex;
align-items: flex-start;
border-radius: 9999px;
background: #E1E3E3;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.5px;
text-transform: uppercase;
white-space: nowrap;
}
.table-status4{
    width: 90.1px;
height: 25.0px;
display: flex;
padding: 2.5px 16px;
align-items: flex-start;
border-radius: 9999px;
background: #FECF36;
flex-direction: column;
justify-content: center;
color: #5A4700;
font-family: "Be Vietnam Pro";
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.5px;
text-transform: uppercase;
}
.evolution-wrap {
    width: 1024px;
    margin: 0 auto;
    border-radius: 48px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 40px 80px -20px rgba(141, 74, 0, 0.06);
}
.table-top{
height: 64.0px;
background: #F0F1F1;
}
.table-heading1{
    width: 168.7px;
height: 64.0px;
padding: 24px 32px;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 2.4px;
text-transform: uppercase;
}
.table-heading2{
    width: 353.9px;
height: 64.0px;
padding: 24px 32px;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 2.4px;
text-transform: uppercase;
}
.table-heading3{
    width: 256.7px;
height: 64.0px;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 2.4px;
text-transform: uppercase;
display: table-cell;
margin-left: 100px;
}
.table-heading4{
    width: 244.8px;
height: 64.0px;
padding: 24px 32px;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 2.4px;
text-transform: uppercase;
}
.table-row1{
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
}
.table-data1{
    width: 168.7px;
height: 100.0px;
padding: 40px 32px;
}
.table-data2{
    width: 353.9px;
height: 100.0px;
padding: 40px 32px;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.table-data3{
    width: 256.7px;
height: 100.0px;
padding: 40px 32px;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
display: table-cell;
}
.table-data4{
    width: 244.8px;
height: 100.5px;
padding: 37px 32px 38.5px 32px;
}
.table-row2{
border-top: 1px solid #E7E8E8;
background: rgba(253, 211, 77, 0.10);
}
.table-data5{
    width: 168.7px;
height: 101.0px;
padding: 40.5px 32px;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
}
.table-data6{
    width: 353.9px;
height: 121.0px;
padding: 40.5px 32px;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
display: table-cell;
}
.table-data7{
    width: 256.7px;
height: 101.0px;
padding: 40.5px 32px;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.table-data8{
    width: 244.8px;
height: 101.0px;
padding: 37.5px 32px 38.5px 32px;
}
.table-row3{
border-top: 1px solid #E7E8E8;
}
.table-data9{
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
width: 168.7px;
height: 101.0px;
padding: 40.5px 32px;
padding: 40.5px 32px;
display: table-cell;
}
.table-data10{
    width: 353.9px;
height: 101.0px;
padding: 40.5px 32px;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.table-data11{
    width: 256.7px;
height: 101.0px;
padding: 40.5px 32px;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.table-data12{
    width: 244.8px;
height: 101.0px;
padding: 37.5px 32px 38.5px 32px;
display: table-cell;
}
.table-row4{
border-top: 1px solid #E7E8E8;
}
.table-data13{
    width: 168.7px;
height: 100.0px;
padding: 40px 32px;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
}
.table-data14{
    width: 353.9px;
height: 100.0px;
padding: 40px 32px;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.table-data15{
    width: 256.7px;
height: 100.0px;
padding: 40px 32px;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
display: table-cell;
}
.table-data16{
    width: 244.8px;
height: 100.5px;
padding: 37.5px 32px 38px 32px;
}
.evolution-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.evolution-table th,
.evolution-table td {
    text-align: left;
    vertical-align: middle;
}
.join{
    padding: 136px 72px;
    display: flex;
flex-direction: column;
align-items: center;
}
.join .container{
    display: inline-grid;
padding: 80px;
row-gap: 64px;
column-gap: 64px;
align-self: stretch;
grid-template-rows: 372px;
grid-template-columns: repeat(2,minmax(0,1fr));
border-radius: 42px;
background: #FFF;
border: 8px solid #8D4A00;
}
.join-fwrap{
    width: 456.0px;
height: 366.0px;
align-self: start;
aspect-ratio: 76/61;
grid-row: 1 / span 1;
grid-column: 2 / span 1;
justify-self: stretch;
display: flex;
flex-direction: column;
}
.join button{
    display: flex;
    padding: 25px 120px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #2D2F2F;
    border-radius: 9999px;
      font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
    font-family: "Space Grotesk";
    margin-top: 39px;
    margin-bottom: 27px;
}
.join button img{
    width: 16px;
    height: 16px;
}
.join-all{
 width: 976px;
 height: 366px;
display: flex;
flex-direction: row;
align-items: center;
}
.join label{
font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5A5C5C;
    font-family: "Be Vietnam Pro";
    padding-left: 32px;
}
.join input:first-of-type{
    margin-bottom: 34px;
}
.join input{
    padding: 29px 266px 29px 32px;
    border-radius: 9999px;
    background: #F0F1F1;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #9A9A9A;
    font-family: "Be Vietnam Pro";
    margin-top: 10px;
}
.form-text{
    color: #5A5C5C;
    font-family: "Be Vietnam Pro";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-align: center;
}
.join-wrap{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
grid-row: 1 / span 1;
grid-column: 1 / span 1;
justify-self: stretch;
padding-right: 192px;
}
.join-title{
    align-self: stretch;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: -3px;
width: 284px;
}
.join-text{
    align-self: stretch;
color: #5A5C5C;
font-family: "Be Vietnam Pro";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 29.25px;
width: 456.0px;
height: 88.0px;
}
.join-members{
    display: flex;
padding-top: 8px;
align-items: center;
gap: 16px;
align-self: stretch;
width: 456.0px;
height: 56.0px;
flex-direction: row;
}
.join-photos{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 128.0px;
height: 48.0px;
gap: 0;
}
.join-members img{
width: 48.0px;
height: 48.0px;
padding: 4px;
display: flex;
padding: 4px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex-shrink: 0;
border-radius: 9999px;
border: 2px solid #FE973C;
background: #FFF;
position: absolute;
}
.join-members img:nth-child(1){
    z-index: 0;
    top: 0;
    left: 0;
}
.join-members img:nth-child(2){
    z-index: 1;
    top: 0;
    left: 30px;
}
.join-members img:nth-child(3){
    z-index: 2;
    top: 0;
    left: 60px;
}
.footer{
    display: flex;
flex-direction: column;
align-self: stretch;
background: #F6F6F6;
padding: 60px 80.02px 74px 80px;
align-items: center;
}
.footer .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer .logo{
        display: flex;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 32px;
letter-spacing: -1.2px;
margin-right: 156.6px;
}
.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-right: 156.61px;
}
.footer-link{
    display: flex;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.35px;
}
.footer-copyright{
    display: flex;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
font-family: "Be Vietnam Pro";
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
}
.modal{
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
    /* right: calc((100% - 510px) / 2); */
    z-index: 99999999;
    position: absolute;
    inset: 0;
    backdrop-filter: blur(8px);
}

.modal.is-hidden {
    display: none;
}
 .modal-content{
    width: 510.0px;
height: 821.0px;
display: flex;
max-width: 512px;
justify-content: center;
flex-direction: column;
align-items: center;
flex-shrink: 0;
border-radius: 48px;
border: 1px solid rgba(172, 173, 173, 0.10);
background: #FFF;
box-shadow: 0 0 40px 0 rgba(141, 74, 0, 0.06);
position: relative;
 }
 .modal-wrap{
    display: flex;
transform: rotate(3deg);
flex-direction: column;
align-items: flex-start;
border-radius: 32px;
border: 4px solid #FFF;
background: rgba(255, 255, 255, 0.00);
box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
width: 224.0px;
height: 224.0px;
position: relative;
z-index: 99999999;
 }
 .modal-img{
    flex-shrink: 0;
align-self: stretch;
aspect-ratio: 1/1;
background: url(<path-to-image>) lightgray -0.002px -0.002px / 100.002% 100.002% no-repeat;
width: 216.0px;
height: 216.0px;
border-radius: 32px;
 }
 .modal-label{
    width: 96.2px;
height: 44.0px;
display: flex;
transform: rotate(-12deg);
padding: 8px 16px;
flex-direction: column;
align-items: center;
position: absolute;
right: -8.804px;
bottom: -19.81px;
border-radius: 9999px;
border: 2px solid #FFF;
background: linear-gradient(113deg, #FE973C 0%, #FDD34D 100%);
}
.modal-gradient{
    width: 224.0px;
height: 224.0px;
transform: rotate(0deg);
position: absolute;
left: 140px;
bottom: 529px;
border-radius: 9999px;
background: rgba(254, 151, 60, 0.20);
filter: blur(32px);
 }
 .modal-title{
    display: flex;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
text-align: center;
font-family: "Space Grotesk";
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: 40px;
letter-spacing: -0.9px;
text-transform: uppercase;
margin-top: 26.29px;
}
.modal-text{
    display: flex;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
text-align: center;
font-family: "Be Vietnam Pro";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
width: 251.4px;
height: 78.0px;
margin-bottom: 32px;
margin-top: 8px;
}
.modal-sale{
    display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
border-radius: 32px;
border: 1px solid #FFF;
background: #F0F1F1;
width: 430.0px;
height: 118.0px;
padding: 24px;
margin-left: 40px;
z-index: 1;
overflow: hidden;
position: relative;
clip-path: inset(0 round 32px);
}
.sale-gradient{
    width: 96.0px;
height: 96.0px;
position: absolute;
right: -47px;
top: -47px;
border-radius: 9999px;
background: rgba(253, 211, 77, 0.30);
filter: blur(20px);
z-index: 0;
}
.sale-amount{
    display: flex;
flex-direction: column;
justify-content: center;
color: #8D4A00;
text-align: center;
font-family: "Space Grotesk";
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 48px;
letter-spacing: -2.4px;
}
.sale-desc{
    display: flex;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
text-align: center;
font-family: "Be Vietnam Pro";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 1.2px;
text-transform: uppercase;
}
.modal-code{
    width: 430.0px;
height: 62.0px;
padding: 16px;
display: flex;
justify-content: center;
align-items: center;
gap: 12px;
align-self: stretch;
border-radius: 9999px;
border: 1px dashed rgba(172, 173, 173, 0.20);
background: #E7E8E8;
color: #2D2F2F;
text-align: center;
font-family: "Space Grotesk";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px;
letter-spacing: 2px;
margin-left: 40px;
margin-top: 32px;
margin-bottom: 16px;
}
.modal-copy{
    width: 430.0px;
height: 68.0px;
display: flex;
padding: 20px 32px;
justify-content: center;
align-items: center;
gap: 7.99px;
align-self: stretch;
border-radius: 9999px;
background: #8D4A00;
box-shadow: 0 10px 15px -3px rgba(141, 74, 0, 0.10), 0 4px 6px -4px rgba(141, 74, 0, 0.10);
margin-left: 40px;
margin-bottom: 16px;
}
.modal-valid{
    display: flex;
flex-direction: column;
justify-content: center;
color: rgba(90, 92, 92, 0.60);
text-align: center;
font-family: "Be Vietnam Pro";
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 15px;
letter-spacing: 1px;
text-transform: uppercase;
}
.modal-close{
    width: 40.0px;
height: 40.0px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
right: 25px;
top: 25px;
border-radius: 9999px;
background: #F0F1F1;
}
.modal-under{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 900;
line-height: 20px;
letter-spacing: 1.4px;
text-transform: uppercase;
margin-top: 22.5px;
}
.modal-line{
    width: 32.0px;
height: 2.0px;
background: #8D4A00;
margin-top: 8px;
}